.content{
    background-color: aqua;
    height:100rem;
}
.title {
    margin: 0;
    padding-top: 50px;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
    z-index: 3;
}
.back{
    padding-top:2px;
    padding-left:2px;
    position: absolute;
    text-decoration: underline;
}
.famr {
    /* position: absolute; */
    height: 300px;
    /* transform: rotateZ(15deg); */
    /* right: 10%;
    top: 30%;
    z-index: 1; */
}