.main {
  height: 1600px;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebe9c6;
  z-index: 1;
}

.footer {
  position: fixed;
  padding-top: 2PX;
  padding-left: 20px;
  background: #119aac;
  border-top: 1px solid hsla(184, 93%, 47%, 0.822);
  bottom: 0;
  left: 0;
  color: white;
  height: 40px;
  width: 100%;
  z-index: 4;
}

.title a {
  color: #119aac;
  text-decoration: none;
  text-decoration: underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  transition: .5s;
  color: #FF0000;

}

.footerURL {
  padding-left: 20px;
  vertical-align: middle;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  z-index: 3;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  z-index: 3;
}

.famr {
  position: absolute;
  height: 300px;
  transform: rotateZ(15deg);
  right: 10%;
  top: 30%;
  z-index: 1;
}

.engr {
  position: absolute;
  height: 300px;
  transform: rotateZ(-15deg);
  right: 10%;
  top: 70%;
  z-index: 1;
}

.faml {
  position: absolute;
  height: 300px;
  transform: rotateZ(-10deg);
  left: 10%;
  top: 70%;
  z-index: 1;
}

.engl {
  position: absolute;
  height: 400px;
  transform: rotateZ(6deg);
  left: 10%;
  top: 30%;
  z-index: 1;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  background: hsla(184, 93%, 47%, 0.822);
  z-index: 2;
  padding: 1.5rem;
  text-align: left;
  vertical-align: middle;
  height: 200px;
  border: 1px solid #119aac;
  border-radius: 10px;
  max-width: 300px;
}

.card:hover {
  transition: .5s;
  color: #ffffff;
  background: #119aac;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}