.content{
    /* background-color: #eee1b8; */
    height:auto;
    min-height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.title {
    margin: 0;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
    z-index: 3;
}
.back{
    padding-top:10px;
    padding-left:10px;
    position: absolute;
    text-decoration: underline;
}
.point {
    margin: 0;
    padding: 50px;
    line-height: 1.15;
    font-size: 3rem;
    z-index: 3;
    text-decoration: underline;
}

.img{
    padding-left: 50px;
    padding-right: 50px;
    height:10%;
    max-height: 250px;
    /* max-width: 600px; */
    border-radius: 40%;
}


  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .middle {
    min-width: 500px;
  }
  
  .card {
    margin: 1rem;
    /* background: #5C7890; */
    z-index: 2;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    /* max-height: 300px; */
    border-top: 1px solid #119aac;
    border-bottom: 1px solid #119aac;
    width: 95%;
    /* min-width: 100rem; */
  }
  
  .card:hover {
    transition: .5s;
    /* color: #ffffff; */
    /* background: #119aac; */
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    padding: 50px;
    font-size: 1.25rem;
    line-height: 1.5;
  }